@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 100px;
  --mobile-header-height: 72px;
  --homebanner-separator-gap: 5vw;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

p {
  @apply mb-4;
}

section {
  @apply max-lg:py-10 lg:py-16;
}

.section-title {
  @apply font-extrabold text-4xl;
}

body.open #mobile-menu-overlay {
  @apply opacity-100 z-40;
}

body.open #mobile-menu-content {
  @apply translate-x-0;
}

header {
  @apply transition-all;
}

header.scrolled {
  @apply bg-white/90 backdrop-blur-sm shadow-sm;
}

.mobile-menu > li {
  @apply px-5 py-3 border-b opacity-70;
}

.overlay {
  @apply w-full h-full top-0 left-0 absolute bg-black bg-opacity-10 z-10;
}

.contact-form input,
.contact-form textarea {
  @apply w-full rounded-md bg-white border border-[#D8D8D8] p-2;
}

.contact-form textarea {
  @apply resize-none max-h-[130px];
}

.wpcf7-not-valid-tip {
  @apply pl-1;
}

.contact-form input[type="submit"] {
  @apply text-[#9F9F9F];
}

.wpcf7-response-output {
  @apply !m-0 !border-none !p-0 text-center !pb-5;
}

.wpcf7-spinner {
  @apply flex mx-auto my-2;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  opacity: 0;
  transform: translateY(-8px);
  transition: all 0.3s ease-out;
}

.faq-answer.active {
  opacity: 1;
  transform: translateY(0);
}

.about-us-icon svg {
  @apply w-[60px];
}

.add-on-content ul li {
  @apply text-primary font-bold mb-2 flex items-center;
}
.add-on-content ul li::before {
  content: "";
  display: inline-block;
  width: 24.699px;
  height: 24.065px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24.699" height="24.065" viewBox="0 0 24.699 24.065"><defs><clipPath id="clip-path"><path d="M0,0H24.7V-24.065H0Z" fill="%2300b4c5"/></clipPath></defs><g transform="translate(0 24.065)"><g clip-path="url(%23clip-path)"><g transform="translate(20.868 -16.32)"><path d="M0,0A9.892,9.892,0,0,1,.988,4.288a9.848,9.848,0,0,1-9.824,9.823,9.848,9.848,0,0,1-9.823-9.823A9.849,9.849,0,0,1-8.836-5.535a9.7,9.7,0,0,1,5.9,1.975c.6-.442,1.2-.91,1.845-1.326a12.052,12.052,0,0,0-7.77-2.858A12.05,12.05,0,0,0-20.868,4.288,12.055,12.055,0,0,0-8.836,16.32,12.056,12.056,0,0,0,3.2,4.288,11.949,11.949,0,0,0,1.585-1.689C1.066-1.2.546-.624,0,0" fill="%2300b4c5"/></g><g transform="translate(11.695 -12.266)"><path d="M0,0A36.022,36.022,0,0,1,12.11-10.135c.65-.312,1.222.649.676,1.117C9.979-6.445,5.951-2.911,1.169,6.185a1.35,1.35,0,0,1-2.39,0L-5.743-2.287a.923.923,0,0,1,.312-1.221l.6-.416a.905.905,0,0,1,1.118.1Z" fill="%2300b4c5"/></g></g></g></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
  vertical-align: middle;
}

#popup {
  @apply fixed top-0 left-0 w-full h-full z-50 flex items-center justify-center -translate-x-full;
}

#popup.show {
  @apply translate-x-0;
}

.popup-overlay {
  @apply absolute top-0 left-0 w-full h-full bg-white/20 backdrop-blur-sm transition-all opacity-0;
}

.popup-box {
  @apply bg-white relative rounded-3xl max-w-[900px] w-full max-lg:px-7 max-lg:py-10 max-lg:pt-14 lg:p-16 z-10 overflow-y-hidden mx-10 transition-all -translate-y-10;
}
.popup-content {
  @apply overflow-y-auto max-h-[80vh];
}

#popup-close {
  @apply absolute top-5 right-5 w-[30px] h-[30px] rounded-full bg-primary flex items-center justify-center cursor-pointer hover:opacity-80;
}

#popup.show .popup-overlay {
  @apply opacity-100;
}

#popup.show .popup-box {
  @apply translate-y-0;
}

.faq-answer ul {
  @apply list-disc pl-6;
}
